.card-img{
    height: 150px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("storage/default.jpg") ;
}

.menu{
    &__avatar{

        &__img{
            border-radius: 24px;
        }
    }

}
