.main-menu{
    display: flex;
    list-style: none;
}

.main-menu__li{
    padding: 10px 25px;
}
.main-menu__li:hover{
    background-color: gray;
}

.main-menu__li:hover .main-menu__link{
    color: #cbd5e0;
}

.main-menu__link{
    text-decoration: none;
}
